html(lang='en')
  head
    meta(charset='utf-8')
    body
      form(action='/send', method='post')
        input(name='phone', type='number', placeholder='Type your phone number here')
        br
        input(type='submit')

