.main {
    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue",
                 "Helvetica","Arial","Verdana","sans-serif";
}

.top {
    margin-top: 18px;
    padding-top: 55px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#item-form {
    text-align: center;
}

.form-content {
    background-color: rgb(245,245,245);
    position: fixed;
    text-align: center;
    width: 100%;
    left: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.center-adjust {
    margin-right: 135px;
    display: inline-table;
}

#title {
    font-size: 38px;
    color: black;
    text-decoration: none;
}

.subtitle {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.select-type {
    font-family: Avenir;
    margin-right: 15px;
    font-size: 16px;
}

.form-main-button {
    border-radius: 4px;
    font-family: Avenir;
    font-style: normal;
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
    background-color: white;
    color: black;
    height: 55px;
    line-height: 55px;
}

.form-main-button:hover,
button:hover,
.button:focus,
button:focus
{
  border-color: rgb(5,5,5);
  outline: 0;
}

#search-bar {
  padding-bottom: 15px;
}
