.main {
    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue",
                 "Helvetica","Arial","Verdana","sans-serif";
}

.home_top {
    margin-top: 18px;
    padding-top: 55px;
    padding-bottom: 85px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

 #title {
    font-size: 38px;
    color: black;
    text-decoration: none;
}


#container {
}