<script id="item-form-template-main" type="text/x-handlebars-template">
  <div class="top">
        <h2><a href="/" id="title">Sell Your Stuff</a></h2>
        <h2 class="subtitle"> Somebody else is looking for it.</h2>
  </div>
  <div class="form-background">
    <div class="form-content">
      <span id="select-instruction">Select an item type</span>
      <a id="#select-goods" class="button form-main-button" href="#upload/goods"> Goods</a>
      <a id="#select-textbooks" class="button form-main-button" href="#upload/textbooks"> Textbooks</a>
      <a id="#select-sublets" class="button form-main-button" href="#upload/sublets"> Sublets</a>
      <div id="type-form"></div>
    </div>  
  </div>
</script>

<script id="goods-form-template" type="text/x-handlebars-template">
  <form action="/items" method="post">
    <div class="field">
      Name: <input name="name" type="text" placeholder="Mountain bike">
    </div>
    <div class="field">
      Description: <input name="desc" type="text" placeholder="Amazing condition">
    </div>
    <div class="field">
      Price: <input name="price" type="number" placeholder="100">
    </div>
    <div class="field">
      Tags: <input name="tags" type="text" placeholder="#bike #easylife">
    </div>
    <input type="submit">
  </form>
</script>
