<script id="item-form-template-main" type="text/x-handlebars-template" class="container">
  <div class="top"> 
        <h2><a id="title">Sell Your Stuff</a></h2>
        <h2 class="subtitle"> Somebody else is looking for it.</h2>
  </div> 
  <div class="form-background">
    <div class="center-adjust">
      <div class="form-content">
        <span id="select-instruction">Select an item type</span>
        <a id="#select-goods" class="button form-main-button" href="#upload/goods"> Goods</a>
        <a id="#select-textbooks" class="button form-main-button" href="#upload/textbooks"> Textbooks</a>
        <a id="#select-sublets" class="button form-main-button" href="#upload/sublets"> Sublets</a>
        <div id="type-form"></div>
      </div>
    </div>
  </div>
</script>

<script id="goods-form-template" type="text/x-handlebars-template">
    <div class="row"> 
      <div class="four columns form-instruction">
        <span id="form-instruction">Add details about your goods</span>
      </div>
      <div class="eight columns">
        <form id ="good-form" action="/items" method="post">
          <div class="row">
            <div class="eight columns">
              <label for="tags">Add tags to your goods</label>
              <select name="tags" data-placeholder="#bike #easylife" multiple class="chosen-select goods-box" tabindex="18" id="multiple-label-example" type="text" id="tags"> 
              <option value=""></option>
              <option>#sublets</option>
              <option>#tickets</option>
              <option>#bikes</option>
              <option>#clickers</option>
              <option>#textbooks</option>
              <option>#Black</option>
              <option>#est</option>
              <option>#cons</option>
              {{#each tags}}
                <option>{{name}}</option>
              {{/each}}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="eight columns">
              <label for="name">Post name</label>
              <input name="name" class="goods-box" type="text" placeholder="Mountain bike" id="name">
            </div>
            <div class="four columns">
              <label for="price">Price</label>
              <input name="price" class="price-width" type="number" placeholder="85" id="price">
            </div>
          </div>
          <div class="row">
            <div class="eight columns">
              <label for="image">Upload images</label>
              <div id="image-uploader"></div>
            </div>
          </div>
          <div class="row">
            <div class="eight columns">
              <label for="desc">Describe your goods</label>
              <textarea name="desc" class="goods-box" placeholder="Great tread for the snow and pretty lightweight. Only used for a couple of semesters." id="desc"></textarea>
            </div>
            <div class="four columns">
              <input type="submit" value="Submit Post">
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/chosen.jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/prism.js" type="text/javascript" charset="utf-8"></script> 
</script>

<script id="textbooks-form-template" type="text/x-handlebars-template">
    <div class="row textbooks-type-form">
      <div class="four columns form-instruction">
        <span id="form-instruction">Add details about your textbook</span>
      </div>
      <div class="eight columns">
        <form id= "sublet-form" action="/items" method="post">
          <div class="row">
            <div class="seven columns">
              <label for="tags">Add tags to your textbook</label>
                  <input name="tags" class="textbooks-box" type="text" placeholder="#3rdEdition #like-new" id="tags">
            </div>
            <div class="four columns">
              <label for="edition">Edition</label>
              <input name="edition" class="textbooks-small-box" type="text" placeholder="3" id="edition">
            </div>
          </div>
          <div class="row">
            <div class="seven columns">
              <label for="title">Book Title</label>
              <input name="name" class="textbooks-box" type="text" placeholder="Neuroscience: Exploring the Brain" id="title">
            </div>
            <div class="four columns">
                <label for="price">Price</label>
                <input name="price" class="textbooks-small-box" type="number" placeholder="65" id="price">
            </div>
          </div>
          <div class="row">
            <div class="seven columns">
              <label for="authors">Author(s)</label>
              <input name="authors" class="textbooks-box" type="text" placeholder="Mark F. Bear, Barry W. Connors" id="authors">
            </div>
            <div class="four columns">
                <label for="course">Course</label>
                <input name="course" class="textbooks-small-box" type="text" placeholder="BIBB 109" id="course">
            </div>
          </div>
          <div class="row">
            <div class="seven columns">
              <label for="image">Upload images</label>
              <div id="image-uploader"></div>
            </div>
          </div>
          <div class="row">
            <div class="seven columns">
              <label for="desc">Describe your textbook</label>
              <textarea name="desc" class="textbooks-box" placeholder="I bought it last semester and I think I opened it twice." id="desc"></textarea>
            </div>
            <div class="four columns">
              <input type="submit" value="Submit Post">
            </div>
          </div>
        </form>
      </div>
    </div>
</script>

<script id="sublets-form-template" type="text/x-handlebars-template">
    <div class="row">
      <div class="four columns form-instruction">
        <span id="form-instruction">Add details about your place</span>
      </div>
      <div class="eight columns">
        <form id= "sublet-form" action="/items" method="post">
          <div class="row">
            <div class="seven columns">
              <label for="tags">Add tags to your place</label>
                  <input name="tags" class="sublets-box" type="text" placeholder="#Radian #cheap" id="tags">
            </div>
            <div class="five columns">
              <label for="room-type">Room Type</label>
              <input name="room-type" class="sublets-small-box" type="text" placeholder="Single" id="room-type">
            </div>
          </div>
          <div class="row">
            <div class="seven columns">
              <label for="location">Location</label>
              <input name="location" class="sublets-box" type="text" placeholder="4044 Walnut" id="location">
            </div>
            <div class="five columns">
              <label for="rent">Monthly Rent</label>
              <input name="rent" class="sublets-small-box" type="number" placeholder="850" id="rent">
            </div>
          </div>
          <div class="row">
            <div class="seven columns">
              <label for="image">Upload images</label>
              <div id="image-uploader"></div>
            </div>
          </div>
          <div class="row">
            <div class="seven columns">
              <label for="desc">Describe your place</label>
              <textarea name="desc" class="sublets-box" placeholder="Pretty big, great location and a really nice kitchen." id="desc"></textarea>
            </div>
            <div class="five columns">
              <input type="submit" value="Submit Post">
            </div>
          </div>
        </form>
      </div>
    </div>
</script>
