<script id="item-list-template" type="text/x-handlebars-template">
  <div id="item-list">
  </div>
</script>

<script id="item-template" type="text/x-handlebars-template">
  <div>
    <h3><a href="#items/{{_id}}">{{name}}</a></h3>
    <label>${{price}}</label>
    <p>{{desc}}</p>
    <img src="{{smallImageUrl}}"/>
  </div>
  <br>
</script>

<script id="item-show-template" type="text/x-handlebars-template">
  <div>
    <h3><a href="#items/{{_id}}">{{name}}</a></h3>
    <label>${{price}}</label>
    <p>{{desc}}</p>
    <p>
      {{#each tags}}
        {{name}}
      {{/each}}
    </p>
    <img src="{{largeImageUrl}}"/>
  </div>
  <br>
</script>
