<script id="item-list-template" type="text/x-handlebars-template">
  <div id="item-list">
  </div>
</script>

<script id="item-template" type="text/x-handlebars-template">
  <img src="{{smallImageUrl}}"/>
  <figcaption>
    <h2><a href="#items/{{_id}}">{{normalizedTitle}}</a></h2>
    <p>
      ${{normalizedPrice}}<br>
      {{#each tags}}
        {{name}}
      {{/each}}
    </p>
  </figcaption>
</script>




<script id="item-show-template" type="text/x-handlebars-template">
  <div id="item-detail">
    <div class="navbar">
      <h2><a href="/">Poor Richard's List</a></h2>
      <div class="menu">
        <a>Sign out</a>
        <a>noonanja</a>
      </div>
    </div>
    <div class="body container">
      <div class="image-carousel">
        {{#each detailImageUrls}}
          <div>
            <img class="item-image" src="{{this}}"/>
          </div>
        {{/each}}
      </div>
      <h3>
        {{#if name}}
          {{name}}
        {{/if}}
        {{#if location}}
          {{location}}
        {{/if}}
      </h3>
      <div class="row">
        <div id="price" class="ten columns">
          {{#if price}}
            <label>${{price}}</label>
          {{/if}}
          {{#if rent}}
            <label>${{rent}} / month</label>
          {{/if}}
        </div>
      </div>
      <div class="row tags-row">
        <div class="three columns field-name">
          Tags
        </div>
        <div id="tags" class="seven columns">
          <hr>
          {{#each tags}}
            {{name}}
          {{/each}}
        </div>
      </div>
      <div class="row">
        <div class="three columns field-name">
          Description
        </div>
        <div id="description" class="seven columns">
          <hr>
          <p>{{desc}}</p>
          <hr>
        </div>
      </div>
    </div>
  </div>





</script>

<script id="goods-show-template" type="text/x-handlebars-template">
</script>

<script id="textbooks-show-template" type="text/x-handlebars-template">
  <div class="row">
    <div class="three columns field-name">
      Author(s)
    </div>
    <div id="authors" class="seven columns">
      <hr>
      <p>{{authors}}</p>
    </div>
  </div>
  <div class="row">
    <div class="three columns field-name">
      Edition
    </div>
    <div id="edition" class="seven columns">
      <hr>
      <p>{{edition}}</p>
    </div>
  </div>
  <div class="row">
    <div class="three columns field-name">
      course
    </div>
    <div id="course" class="seven columns">
      <hr>
      <p>{{course}}</p>
    </div>
  </div>
</script>

<script id="sublets-show-template" type="text/x-handlebars-template">
  <div class="row">
    <div class="three columns field-name">
      Room Type
    </div>
    <div id="room-type" class="seven columns">
      <hr>
      <p>{{roomType}}</p>
    </div>
  </div>
</script>


<div>
<p></p>
<center>
<p>Email the seller!</p>
</center>
<center>
<input id="to" size="41" type="text" placeholder="Enter E-mail ID where you want to send" />
</center>
<p></p>
<center>
<input id="subject" size="41" type="text" placeholder="Write Subject" />
</center>
<p></p>
<center>
<textarea id="content" cols="40" rows="5" placeholder="Write what you want to send"></textarea>
</center>
<p></p>
<center>
<button id="send_email">Send Email</button>
<p></p>
<span id="message"></span>
</center>
</div>
