<script id="listing-template" type="text/x-handlebars-template">
    <div class="sidebar">
      <div class="row">
        <img src="images/poorrich.png" alt="poor rich" width="150px">
      </div>
      <div class="row upload">
        <a href="#upload" class="button button-primary listing-button">Upload Item</a>
      </div>
      <div class="tag-scroll">
        <div class="row">
          <div id="tag-list" class="tag-list two columns">
          </div>
        </div>
      </div>
      <div class="upload">
        <a href="#upload" class="button button-primary listing-button">noonanja</a>
      </div>
    </div>
  <div class="listing-container">
    <div class="photo-content">
      <div class="grid">
        <div id="listing-container">
        </div>
      </div>
    </div>
  </div>
</script>


<script id="search-bar-template" type="text/x-handlebars-template">
  <div class="search">
    <img src="images/search-icon.png" width="60px" height="60px">
    <div id="search-bar">
      <input id="search-input" type="text">
    </div>
  </div>
</script>
