<script id="listing-template" type="text/x-handlebars-template">
    <div class="sidebar">
      <div class="row">
        <img src="images/poorrich.png" alt="poor rich" width="150px">
      </div>
      <div class="row upload">
        <a href="#upload" class="button button-primary listing-button">Upload Item</a>
      </div>
      <div class="tag-scroll">
          <div id="tag-list-container" class="two columns"></div>
      </div>
      <div class="upload dashboard-button">
        <a href="#upload" class="button button-primary listing-button">noonanja</a>
      </div>
    </div>
  <div id="listing-search-container"></div>
</script>


<script id="search-bar-template" type="text/x-handlebars-template">
    <img src="images/search-icon.png" width="60px" height="60px">
    <div id="search-bar">
      <input id="search-input" type="text" autofocus="autofocus">
    </div>
</script>
