<script id="listing-template" type="text/x-handlebars-template">
  <div class="top">
        <h2><a href="/" id="title">Poor Richard's List</a></h2>
  </div>
  <div class="row">
    <div id="tag-list" class="two columns">
    </div>
    <div id="listing-container" class="ten columns">
      <a href="#upload" class="button button-primary">Upload Item</a>
    </div>
  </div>
</script>

<script id="search-bar-template" type="text/x-handlebars-template">
  <div id="search-bar">
    <input type="text" placeholder="Search for items">
  </div>
</script>
