@import "variables";

.main {
    font-family: $font-stack;
}

#listing-search-container {
  margin-left: $sidebar-width;
  text-align: center;
  overflow-x: hidden;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
}

#listing {
  .sidebar {
    top: 0;
    position: fixed;
    background-color: $background-color;
    text-align: center;
    padding-top: 55px;
    width: $sidebar-width;
    height: 100%;
  }
  .upload {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .listing-button {
    background-color: white;
    color: black;
    text-transform: none;
    font-size: 18px;
    line-height: 34px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: black;
  }
  .tag-scroll {
    height: 400px; // temporary
    overflow: scroll;
    margin-left: 26%;
  }
  #tag-list-render-tags {
    text-align: left;
    display: inline-block;
    margin-left: 8px;
    border-left-color: black;
    border-left-style: solid;
  }
  .tag {
    font-size: 18px;
    padding-top: 4px;
    padding-left: 4px;
    cursor: pointer;
    padding-bottom: 15px;
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tag a {
    color: $off-black;
    text-decoration: none;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
  }

}
  $tag-hover-color: #C7E7F0;
  .tag:hover {
    background-color: $tag-hover-color;
  }

  .selected {
    background-color: $tag-hover-color;
  }

  .dashboard-button {
    width: 100%;
    height: 100px;
    position: absolute;
    left:0;
    bottom: 0;
  }

.search {
  text-align: center;
  display: -webkit-inline-box;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #565a5c;
  margin-bottom: 45px;
  width: 100%;
  max-width: 530px;
}

#search-bar {
  padding-left: 2px;
}

#search-input {
    width: 530px;
    height: 60px;
    font-size: 30px;
    border: none;
    color: #565a5c;
}

@media (max-width: 747px) {
  .sidebar {
    display: none;
  }
  #listing-search-container {
    margin-left: 0px;
  }
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}
