$font-stack: 'Open Sans', 'Ubuntu', 'Lato', 'sans-serif';

$title-font: 'Lato', sans-serif;
$subtitle-font: 'Ubuntu', sans-serif;

$form-font: 'Open Sans', sans-serif;
$form-label-font: 'Ubuntu', sans-serif;


$background-color: rgb(245,245,245);
$off-black: rgb(86, 90, 92);

.main {
    font-family: $font-stack;
}

.top {
    margin-top: 18px;
    padding-top: 55px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    font-family: $title-font;
    font-size: 40px;
    font-weight: 300;
    color: black;
    text-decoration: none;
}

.subtitle {
    font-family: $subtitle-font;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

// LISTINGS
$sidebar-width: 280px;
#listing-search-container {
  margin-left: $sidebar-width;
  text-align: center;
  overflow-x: hidden;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
}

#listing {
  .sidebar {
    top: 0;
    position: fixed;
    background-color: $background-color;
    text-align: center;
    padding-top: 55px;
    width: $sidebar-width;
    height: 100%;
  }
  .upload {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .listing-button {
    background-color: white;
    color: black;
    text-transform: none;
    font-size: 18px;
    line-height: 34px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: black;
  }
  .tag-scroll {
    height: 400px; // temporary
    overflow: scroll;
    margin-left: 28%;
  }
  #tag-list-render-tags {
    text-align: left;
    display: inline-block;
    margin-left: 8px;
    border-left-color: black;
    border-left-style: solid;
  }
  .tag {
    font-size: 18px;
    padding-top: 4px;
    padding-left: 4px;
    cursor: pointer;
    padding-bottom: 15px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tag a {
    color: $off-black;
    text-decoration: none;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
  }

}

  .tag:hover {
    background-color: #C7E7F0;
  }

  .selected {
    background-color: #C7E7F0;
  }

  .dashboard-button {
    width: 100%;
    height: 100px;
    position: absolute;
    left:0;
    bottom: 0;
  }

// FORMS
.form-background {
    background-color: $background-color;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0px;
    padding-top: 100px;
}

#goods-form, #sublets-form {
  padding-bottom: 83px;
}

.center-adjust {
    margin-right: 170px;
}

.select-form {
    display: inline-table;
}
#select-instruction {
    font-family: $form-font;
    margin-right: 15px;
    font-size: 18px;
}


.form-hide-text {
  color: $background-color;
}

.form-content {
  display: inline-table;
}

.form-main-button {
    border-radius: 4px;
    font-family: $form-font;
    font-style: normal;
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
    background-color: white;
    color: black;
    height: 55px;
    line-height: 55px;
}

.form-main-button:hover,
button:hover,
.button:focus,
button:focus
{
  border-color: rgb(5,5,5);
  outline: 0;
}

.form-instruction {
    font-family: $form-font;
    font-size: 18px;
    margin-top: 80px;
}

.textbooks-adjust {
    padding-right: 53px;
}

#type-form {
  text-align: left;
  width: 803px;
  margin-top: 20px;
  padding-left: 15px;
  .four.columns {
    margin-left: 0px;
  }
  .row.five.columns {
    margin-left: 0px;
  }
  .textbooks-type-form {
    width: 879px;
  }
  .goods-box {
    width: 310px;
  }
  .textbooks-box,  .sublets-box {
    width: 300px;
  }
  .price-width {
    width: 65px;
  }
  .textbooks-small-box, .sublets-small-box {
    width: 90px;
  }
  label {
    font-family: $form-label-font;
    font-size: 16px;
    font-weight: 300;
  }
  input[type=text] {
    margin-bottom: 15px;
    font-size: 14px;
  }
  input[type=price] {
    margin-bottom: 15px;
    font-size: 14px;
  }
  input[type=number] {
    margin-bottom: 15px;
  }
  input[type=submit] {
    margin-top: 110px;
    color: white;
    background-color: #f44336;
    border-color: #f44336;
    text-transform: none;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    font-size: 15px;
    opacity: .67;
    height: 30px;
    line-height: 30px;
    font-family: $form-label-font;
  }
  textarea {
    height: 110px;
    font-size: 14px;
  }
}

@media(max-width: 549px) {
    .form-background {
      padding-top: 15px;
    }
    #type-form {
      margin-top: -55px;
    }
    .form-instruction {
      padding-left: 35px;
      margin-bottom: 10px;
    }
    .form-content {
      display: block;
    }
    .form-main-button {
      width: 300px;
    }
    .sidebar {
      max-width: none;
    }
    .center-adjust {
      margin-right: 0px;
    }
}

////// LISTINGS PAGE

.search {
  text-align: center;
  display: -webkit-inline-box;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #565a5c;
  margin-bottom: 45px;
  width: 100%;
  max-width: 530px;
}

#search-bar {
  padding-left: 2px;
}

#search-input {
    width: 530px;
    height: 60px;
    font-size: 30px;
    border: none;
    color: #565a5c;
}

figure.photo-effect a {
  outline: none;
  color: rgb(245,245,245);
  text-decoration: none;
  font-size: 30px;
}

a:hover, a:focus {
  color: #528cb3;
}

.photo-content {
  margin: 0 auto;
  max-width: 1000px;
}

.photo-content > h2 {
  clear: both;
  margin: 0;
  padding: 4em 1% 0;
}

.photo-content > h2:first-child {
  padding-top: 0em;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 210px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 89%;
  height: 100%;
}

.grid figure figcaption > a {
  text-indent: 200%;
  white-space: nowrap;
  opacity: 0;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 19px;
}

figure.photo-effect img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px,0, 0);
  transform: translate3d(-40px,0,0);
}

figure.photo-effect figcaption {
  text-align: left;
}

figure.photo-effect figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 50%;
}

figure.photo-effect h2,
figure.photo-effect p {
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0,40px,0);
}

figure.photo-effect h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.photo-effect p {
  padding-top: 10px;
  color: rgba(255,255,255,0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

figure.photo-effect:hover img,
figure.photo-effect:hover p {
  opacity: 1;
}

figure.photo-effect:hover img,
figure.photo-effect:hover h2,
figure.photo-effect:hover p {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.photo-effect:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}


@media (max-width: 747px) {
  .sidebar {
    display: none;
  }
  #listing-search-container {
    margin-left: 0px;
  }
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}

