.main {
    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue",
                 "Helvetica","Arial","Verdana","sans-serif";
}

.top {
    margin-top: 18px;
    padding-top: 55px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    font-size: 38px;
    color: black;
    text-decoration: none;
}

.subtitle {
    font-size: 18px;
    color: black;
    text-decoration: none;
}


// FORMS
.form-background {
    background-color: rgb(245,245,245);
    position: fixed;
    text-align: center;
    width: 100%;
    left: 0px;
    padding-top: 100px;
    padding-bottom: 80px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.center-adjust {
    margin-right: 170px;
}

.select-form {
    display: inline-table;
}
#select-instruction {
    font-family: Avenir;
    margin-right: 15px;
    font-size: 18px;
}

.form-hide-text {
  color: rgb(245,245,245)
}

.form-content {
  display: inline-table;
}

.form-main-button {
    border-radius: 4px;
    font-family: Avenir;
    font-style: normal;
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
    background-color: white;
    color: black;
    height: 55px;
    line-height: 55px;
}

.form-main-button:hover,
button:hover,
.button:focus,
button:focus
{
  border-color: rgb(5,5,5);
  outline: 0;
}

.form-instruction {
    font-family: Avenir;
    font-size: 18px;
    margin-top: 80px;
}

#type-form {
  text-align: left;
  width: 800px;
  margin-top: 20px;
  margin-left: 15px;
  .four.columns {
    margin-left: 0px;
  }
  .box-width {
    width: 310px;
  }
  .box2-width {
    width: 300px;
  }
  .price-width {
    width: 60px;
  }
  .room-type-width {
    width: 80px;
  }
  .rent-width {
    width: 80px;
  }
  label {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
  }
  input[type=text] {
    margin-bottom: 15px;
    font-size: 14px;
  }
  input[type=price] {
    margin-bottom: 15px;
    font-size: 14px;
  }
  input[type=number] {
    margin-bottom: 15px;
  }
  input[type=submit] {
    margin-top: 110px;
    color: white;
    background-color: #f44336;
    border-color: #f44336;
    text-transform: none;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    font-size: 15px;
    opacity: .67;
    height: 30px;
    line-height: 30px;
    font-family: Helvetica;
  }
  textarea {
    height: 110px;
    font-size: 14px;
  }
}

@media(max-width: 549px) {
    .form-background {
      padding-top: 15px;
    }
    #type-form {
      margin-top: -55px;
      margin-left: 0px;
    }
    .form-instruction {
      padding-left: 35px;
      margin-bottom: 10px;
    }
    .form-content {
      margin-left: 20%;
      display: block;
    }
    .form-main-button {
        width: 310px;
    }
}


// APP
#search-bar {
  padding-bottom: 15px;
}

.tag {
  font-size: 20px;
  padding-bottom: 15px;
}

.selected {
  background-color: #C7E7F0;
}