.main {
    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue",
                 "Helvetica","Arial","Verdana","sans-serif";
}

.top {
    margin-top: 18px;
    padding-top: 55px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    font-size: 38px;
    color: black;
    text-decoration: none;
}

.subtitle {
    font-size: 18px;
    color: black;
    text-decoration: none;
}


.form-background {
    background-color: rgb(245,245,245);
    position: fixed;
    text-align: center;
    width: 100%;
    left: 0px;
}

.form-content {
    margin-right: 155px;
    display: inline-table;
    margin-top: 100px;
    margin-bottom: 100px;
}

.select-type {
    font-family: Avenir;
    margin-right: 15px;
    font-size: 16px;
}

.form-main-button {
    border-radius: 4px;
    font-family: Avenir;
    font-style: normal;
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
    background-color: white;
    color: black;
    height: 55px;
    line-height: 55px;
}

.form-main-button:hover,
button:hover,
.button:focus,
button:focus
{
  border-color: rgb(5,5,5);
  outline: 0;
}

@media(max-width: 720px) {
    .center-adjust {
        margin-right: 0px;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .select-type {
        margin-right: 0px;
    }
    .form-main-button {
        display: block;
    }
}

#search-bar {
  padding-bottom: 15px;
}

.tag {
  font-size: 20px;
  padding-bottom: 15px;
}

.selected {
  background-color: #C7E7F0;
}

#type-form {
  text-align: left;
  margin-left: 150px;
  margin-top: 20px;
  .field {
    padding-bottom: 10px;
  }
  input {
    margin-top: 10px;
  }
}


