$font-stack: 'Open Sans', 'Ubuntu', 'Lato', 'sans-serif';

$title-font: 'Lato', sans-serif;
$subtitle-font: 'Ubuntu', sans-serif;

$form-font: 'Open Sans', sans-serif;
$form-label-font: 'Ubuntu', sans-serif;

$background-color: rgb(245,245,245);
$off-black: rgb(86, 90, 92);

$sidebar-width: 280px;
